{% extends "base.html" %}
{% load humanize %}


{% block title %}General ledger checks{% endblock %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="/gl/">General Ledger</a></li>
<li class="active">Checks</li>
{% endblock %}

{% block content %}
<p>If you want to "lock down" the system, you can put known amounts
(e.g. month-end statement balance for current account) into the Cleared Balances
or Known Balances tables.  This will then show any discrepancies with those
figures.  We suggest adding a known Cleared Balance for every month end
bank statement.
</p>

{% if cleared_balances %}
<h3>Cleared Balances which don't match:</h3>

<table class="table table-condensed table-striped">
    <thead>
        <th>Date</th>
        <th>Account</th>
        <th>Actual</th>
        <th>Expected</th>
        <th>Error</th>
    </thead>
    <tbody>
    {% for kb in cleared_balances %}
        <tr>
            <td>{{kb.date}}</td>
            <td>{{kb.account.path}}</td>
            <td align="right">{{kb.actual|floatformat:2|intcomma}}</td>
            <td align="right">{{kb.balance|floatformat:2|intcomma}}</td>
            <td align="right">{{kb.error|floatformat:2|intcomma}}</td>
        </tr>    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>All cleared balances match</h3>
{% endif %}




{% if known_balances %}
<h3>Known Balances which don't match:</h3>

<table class="table table-condensed table-striped">
    <thead>
        <th>Date</th>
        <th>Account</th>
        <th>Actual</th>
        <th>Expected</th>
        <th>Error</th>
    </thead>
    <tbody>
    {% for kb in known_balances %}
        <tr>
            <td>{{kb.date}}</td>
            <td>{{kb.account.path}}</td>
            <td align="right">{{kb.actual|floatformat:2|intcomma}}</td>
            <td align="right">{{kb.balance|floatformat:2|intcomma}}</td>
            <td align="right">{{kb.error|floatformat:2|intcomma}}</td>
        </tr>    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>All known balances match</h3>
{% endif %}



{% endblock %}
