{% extends "base.html" %}


{% block title %}Counterparty list{% endblock %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li class="active">Counterparty List</li>
{{block.super}}
{% endblock %}

{% block content %}
<p>This lists all businesses and people - customers, suppliers and employees
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>History</th>
    </thead>
    <tbody>
    {% for counterparty in counterparties %}
        <tr>
            <td><a href="/admin/gl/counterparty/{{counterparty.id}}/">{{counterparty.name}}</a></td>
            <td><a href="/reporting/history/account/3000/?cp={{counterparty.id}}">History</a></td>
        </tr>    {% endfor %}
    </tbody>
</table>
{% endblock %}
