
<style>
table.table thead tr th {
    border-left: 1em #FFF solid;
    border-bottom: 2px #444 solid;
}
table.table thead tr th:nth-child(1),table.table thead tr th:nth-child(2) {
    border: 0 none;
}
table.table {
    margin-bottom: 2em;
}
table.table tr td {
    text-align: right;
    border: 0 none;
    border-left: 1em #FFF solid;
}
table.table tr td:nth-child(1), table.table tr td:nth-child(2) {
    text-align: left;
    margin-left: 0;
    border-left: 0;
}
.highlight {
    background-color: #f5f5f5;
}
.highlight td {
    border-top: 1px #f5f5f5 solid;
}
.highlight .light-highlight {
    background-color: #f9f9f9;
}
table.table th {text-align: center;}
table.table tr.text td  {
    font-style: italic;
    font-size: 1.2em;
    padding-top: 1em;
}
table.table tr.text.footnote td  {
    font-size: .9em;
    padding-top: .5em;
  color: #666;
}
table.table tr.group_header td  {
    padding-top: 1em;
    font-size: 1.05em;
    font-style: italic;
}
table.table tr.group_total td {
    border-top: 2px solid #999;
}
table.table tr.major td {
    border-top: 3px #999 solid;
    border-bottom: 3px #999 double;
    font-size: 1.05em;
    font-weight: bold;
    text-transform: uppercase;
}
table.table tr.group_item td:nth-child(2) {
    padding-left: 2em
}
table.table tr td:nth-child(1), table.table tr td:nth-child(2) {
    border: 0 none;
    margin-bottom: 0;
}
table.table tr td:nth-child(2) {
    white-space: nowrap;
    overflow-x: hidden;
    vertical-align: bottom;
}
table.table tr td {
    padding-bottom: 0;
    margin-bottom: -.5em;
    vertical-align: bottom;
}
span.padder {
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    border-bottom: 1px #999 dotted;
    margin-left:.6em;
}

</style>


{% block title %}{{ title }}
    

{% endblock %}




{% block content %}
    <p>{{ subtitle }}</p>



    <table class="table table-condensed">
        <thead>
            <th></th>
            <th></th>
            {% for colspec in column_titles %}
            <th>{{colspec}}</th>{% endfor %}

        </thead>
        <tbody>
            {% for row in rows %}
                
                <tr class="{{row.type}} {{row.css_class}}">
                    <td>{#{row.type}#}</td>
                {% if "text" in row.type %}
                    <td colspan="{{columns|length|add:'1'}}">{{row.text}}</td>
                {% else %}
                    <td>{{row.text}}{% if row.values.0 %}<span class="padder"></span>{% endif %}</td>
                    {% for value in row.values %}
                        {% if value.link %}
                            <td onclick="document.location='{{value.link}}'">{{value.text}}</td>
                        {% else %}
                            <td>{{value.text}}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}common/js/jquery.align-column.js"></script>

<script>
$(document).ready(function(){
    $('table.table tbody tr').mouseover(function(ev){
      $(this).addClass('highlight')
    }).mouseout(function(ev){
        $(this).removeClass('highlight')
    });
    $('.table tr td').not($('.table tr td:nth-child(1)').add('.table tr td:nth-child(2)').add('.table tr.text td')).mouseover(function(ev){
        $(this).closest('table').find('td:nth-child(' + (this.cellIndex+1) + ')').addClass('light-highlight')
    }).mouseout(function(ev){
        $(this).closest('table').find('td:nth-child(' + (this.cellIndex+1) + ')').removeClass('light-highlight')
    });
    /*
    $('.table tr.group_item td:nth-child(2)').add('.table tr.group_total td:nth-child(2)').add('.table tr.calc td:nth-child(2)').
        add('.table tr.account td:nth-child(2)').each(function(idx, elm){
        $(this).append('<span class="padder"></span>')
    });
    */
    $('table').alignColumn([{% for col in columns %} {{forloop.counter0|add:2}}{% if not forloop.last%},{% endif %}{% endfor %}]);
    $('tr.text td[colspan]').each(function(idx, elm){
        this.colSpan=(this.colSpan-1)*2+1
    })
});
</script>
{% endblock %}