{% extends base_template %}

{% load rptpack %}

{% block title %}Task {{object.title}} finished {% endblock %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li class="active">Task Complete</li>
{% endblock %}


{% block content %}

	{% if not object.success %}
<div class="alert alert-danger">
	Task did not complete successfuly. Please check the Deferred Tasks tab in the <a href="{% url 'dashboard_index' %}">Dashboard</a>
</div>
	{% else %}
	<p>	Download <a href="{{ object.args|file_path}}">Report Pack {{ object.args|company }}</a>
	</p>
	{% endif %}

{% endblock %}
