{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}


{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="/gl/">General Ledger</a></li>
<li class="active">{{ title }}</li>
{% endblock %}


{% block content %}
<p>{{ subtitle }}</p>

<table class="table table-striped table-condensed">
    <thead>
        <th>{{col1title}}</th>
        <th>{{col2title}}</th>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td>{{row.0}}</td>
            <td class="align-right">
                <a href="{{row.2}}">{{row.1}}</a>
            </td>
        </tr>    {% endfor %}

    <tr><td>Total:</td><td>{{total}}</td></tr>
    </tbody>
</table>
{% endblock %}
