    
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron text-center">
            <h1 class="panel-title">Running <i>{{task_name}}</i></h1>
            <p>{{task_id}}</p>
            <p></p>
            <p class="btn btn-lg btn-success" id="progress_task_{{task_id}}"></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Results</h2>
            </div>

            <div class="panel-body" style="min-height: 40;">
                <p id="results_task_{{task_id}}"><p>
            </div>
        </div>
    </div>
</div>

<script>
    function update_progress(status_url, status_div) {
        $.getJSON(status_url, function(data) {
            $('#progress_task_{{task_id}}').text(data['status']);

            if (data['status'] != 'COMPLETED') {
                setTimeout(function() {
                    update_progress(status_url, status_div);
                }, 2000);
            }
            else {
               $('#results_task_{{task_id}}').text(JSON.stringify(data)); 
            }
            
        });
    }
    update_progress('/background_task/status/{{task_id}}/')
</script>

