{% extends base_template %}

{% block extrahead %}
	{{ block.super }}
	{% if not object.finished %}
	<meta http-equiv="refresh" content="3">
	{% endif %}
{% endblock %}


{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="{{request.url}}">Upload</a></li>
<li class="active">Upload {% if object.finished %}Complete{% else %}Progress{% endif %}</li>
{% endblock %}


{% block content %}

{% if not object.finish %}
	<p>Successfully uploaded new file <cite>{{kwds.file_name}}</cite></p>
		   
	{% if object.start %}
	<p><i>Processing started at <b>{{ object.start }}</b></i></p>
	{% endif %}
	<p>You will be redirected to the results page of the upload in a second<p>
	<p>Should you prefer you can look into the <cite>Deferred Tasks</cite> tab in the 
		<a href="/dashboard/">dashboard</a> and check the status of the pending jobs.
	</p>
	<a href='/' class="btn btn-default">Back home</a>

{% else %}
	<p>Successfully uploaded new {{kwds.file_name}} with {{object.data|length}} new transactions</p>
<ul class="list-group .col-md-4">
    <li class="list-group-item">
      <span class="badge">{{results.found}}</span>
      Objects parsed from file
    </li>
  <li class="list-group-item">
    <span class="badge">{{results.data|length}}</span>
    Objects saved into DB
  </li>
  <li class="list-group-item">
    <span class="badge">{{results.dups|length}}</span>
    Duplicates found and prevented from being saved
  </li>
  <li class="list-group-item">
    <span class="badge">{{results.key_errors|length}}</span>
   Unexpected columns in data: {% for k in results.key_errors %} {{k}}, {% endfor %}
  </li>
{% if results.value_errors %}
  <li class="list-group-item">
    <span class="badge">{{results.value_errors|length}}</span>
 
      <h4 class="list-group-item-heading">Individual cell data errors</h4>

  <table class="table">
      <thead>
     <tr>
        <th>Error Type</th>
        <th>Error message</th>
        <th>Row number</th>
      
      </tr>
    </thead>
    <tbody>
   
      {% for k, v, m in results.value_errors %}
      
       <tr>
        <th>{{k}}</th>
        
         <th>{{m}}</th> 
         <th>{{v}}</th> 
       </tr>
      
       {% endfor %}
    
      
     </tbody>

  </table>
  </li>
{% endif %}  
</ul>


<ul class="list-group">
     <h4 class="list-group-item-heading">Example data row</h4>

 <table class="table">
     <thead>
    <tr>
       <th>Key</th>
       <th>Value</th>
     </tr>
   </thead>
   <tbody>
   
      {% for k, v in results.example.items %}
      
      <tr>
       <th>{{k}}</th>
       <th>{{v}}</th> 
      </tr>
      
      {% endfor %}
    
    </tbody>

 </table>
</ul>
       
<a href='/' class="btn btn-default">Back home</a>

{% endif %}
{% endblock %}
