{% extends base_template %}
{% load common %}

{% block content %}
<h1>{{app_name}}</h1>
{{ content }}
{% endblock %}
{% block sidebar %}
{{ block.super }}
{% if assets %}
<h3>Assets</h3>
<section id="assets">
    {% for asset_type, existences in assets.items %}
        <h4>{{ asset_type }}</h4>
        <ul>{% for asset in existences %}
            <li>{% if asset_type == 'images' or asset_type == 'fonts'%}{{ asset.get_thumbnail_tag }}{% else %}{{asset}}{%endif%}</li>
            {% empty %}
            <li>None</li>
            {% endfor%}
        </ul>
        <form method="POST" enctype="multipart/form-data" name="form_{{asset_tye}}" action="/dashboard/{{app_name}}/{{asset_type}}/add/">{% csrf_token %}<input type="file" name="file"><input type="submit"name="submit" value="submit"></form>
    {%endfor%}
</section>
{% endif %}
{% endblock %}
