{% extends base_template %}

{% block extrahead %} 
<style>

dl.plain, table {margin: 1em}

dl.plain dt {
    float:left; 
    width:15%; 
}
</style>
{{block.super}}
{% endblock %}

{% block breadcrumbs %}<li><a href="..">Home</a></li><li>Dashboard</li>{% endblock %}
{% block content %}
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Settings</a></li>
    <li><a href="#tab2" data-toggle="tab">Versions</a></li>
    <li><a href="#tab3" data-toggle="tab">Cmd Line Args</a></li>
    <li><a href="#tab4" data-toggle="tab">Middlewares</a></li>
    <li><a href="#tab5" data-toggle="tab">Installed Apps</a></li>
    <li><a href="#tab6" data-toggle="tab">Storage &amp; Performance</a></li>
    <li><a href="#tab7" data-toggle="tab">DB Log</a></li>
    <li><a href="#tab8" data-toggle="tab">Stats</a></li>
    <li><a href="#tab9" data-toggle="tab">DB Schema Info</a></li>
    <li><a href="#tab10" data-toggle="tab">Load testing</a></li>
    <li><a href="#tab11" data-toggle="tab">Upgrading</a></li>
	{%if "accountifie.tasks" in settings.INSTALLED_APPS%}<li><a href="#tab12" data-toggle="tab">Deferred Tasks</a></li>{%endif%}
    <li><a href="/dashboard/show_request/">Request info</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <h3>Local Settings</h3>
        <table class="table table-stripped table-condensed">
        {% for k, v in settings.iteritems %}
            <tr><th>{{k}}</th><td>{{v}}</td></tr>
        {% empty %}
		<tr><td>NO settings found {{keys}}</td></tr>
        {% endfor %}
        </table>
    </div> <!-- tab1 -->
    <div class="tab-pane" id="tab2">
        <h3>Project versioning</h3>
        <dl>
        {% for k, v in versions.items %}
            <dt>{{k}}</dt><dd><pre>{{v}}</pre></dd>
        {% endfor %}
    </div> <!-- tab2 -->
    <div class="tab-pane" id="tab3">
        <h3>Web Server - command line arguments</h3>
        <ul>
			<li>{{exe}}</li>
        {% for arg in args %}
            <li>{{ arg }}</li>
        {% empty %}
            <li>No command line arguments</li>   
        {% endfor %}  
        </ul> 
    </div> <!-- tab3 -->
    <div class="tab-pane" id="tab4">
        <h3>Middlewares</h3>
        <ul>
        {% for middleware in settings.MIDDLEWARE_CLASSES %}
            <li>{{ middleware }}</li>
        {% empty %}
            <li>No middleware</li>   
        {% endfor %}  
        </ul>
    </div> <!-- tab4 -->
    <div class="tab-pane" id="tab5">
        <h3>Installed applications</h3>
        <ul>
        {% for app in settings.INSTALLED_APPS %}
            {% if app|slice:"8" = "project." %}<li><a href="{% url 'dashboard_app' app|slice:'8:' %}">{{ app }}</a></li>
            {%else%}<li>{{app}}</li>{%endif%}
        {% empty %}
            <li>No application</li>   
        {% endfor %}  
        </ul>
    </div> <!-- tab5 -->
    <div class="tab-pane" id="tab6">
        <h3>Server related metrics</h3>
        <dl>
        {% for ky, ve in machine.items %}
            <dt>{{ky}}</dt>
            <dd>{% if ve.items %}<pre {% if ve.percentage and ve.percentage > 75 %}style="background-color:  #faa"{% endif %}>{% for ii, jj in ve.items %}
{{ii}} = {{jj}}{% endfor %}{% else %}<pre>{{ve}}{% endif %}</pre>
            </dd>
        {% endfor %}  
        </ul>
    </div> <!-- tab6 -->
    <div class="tab-pane" id="tab7">
        <h3>Database Logs</h3>
        <div id="logs_container"></div>
    </div>
    <div class="tab-pane" id="tab8">
        <h3>Project-specific stats</h3>
        <p>You can easily code queries which will be run and displayed here.
        Just add a 'stats.py' in an app, with the same format as the one
        in docengine.dashboard</p>
        {% regroup stats by app_name as all_app_stats %}
        <ul>
        {% for this_app in all_app_stats %}
            <li>{{ this_app.grouper }}
            <ul>
                {% for item in this_app.list %}
                    <li><a href="/dashboard/stats/{{item.app_name}}/{{item.stat_name}}/">{{item.stat_name}}</a>
                {% endfor %}
            </ul>
            </li>

        {% endfor %}
    </div><!-- tab7 -->
        <div class="tab-pane" id="tab9">
            <h3>Database Schema</h3>
            
           
           <div class="table-responsive">
               <p>All Apps and their models </p>
             <table class="table">
                  
                 <thead>
                <tr>
                   <th>Apps</th>
                   <th>Models</th>
                 </tr>
               </thead>
               <tbody>
                  {% for app, models in apps %}
                  
                  <tr>
                   <th>{{app}}</th>
                   <th>{{models}}</th>    
                  </tr>
                  
                  {% endfor %}
                  
                </tbody>
             </table>
           </div>
           
           
           <div class="table-responsive">
               <p>All models with relations to other Models</p>
             <table class="table">
                 <thead>
                <tr>
                   <th>Models</th>
                   <th>Related Models</th>
                   <th>name of App</th>
                 </tr>
               </thead>
               <tbody>
                 {% for rel_info in relations %}
                  {% for model, relations, app in rel_info %}
                  
                  <tr>
                   <th>{{model}}</th>
                   <th>{{relations}}</th> 
                   <th>{{app}}</th>      
                  </tr>
                  
                  {% endfor %}
                  {% endfor %}
                  
                </tbody>
               <tbody>
              
              {{relation}}
                  
                </tbody>
             </table>
           </div>
        </div> <!-- tab8 -->
        <div class="tab-pane" id="tab10">
            <h3>Load Testing</h3>
            <p><a href="/dashboard/load_test_ui/">Use the load tester</a></p>  
          </div>
        <div class="tab-pane" id="tab11">
            <h3>Upgrading</h3>
            <p>This page shows things you ight want to take care of, if your docengine
            project was created with an earlier version.</p>  

            {% if config_warnings %}
              {% for warning in config_warnings %}
                <h4>{{ warning.0 }}: {{ warning.1 }}</h4>
                <p>{{ warning.2 }}</p>
              {% endfor %}
            {% else %}
            <p>Currently, everything looks OK</p>
            {% endif %}



          </div>
		  {%if "accountifie.tasks" in settings.INSTALLED_APPS%}<div class="tab-pane" id="tab12">
        	<h3>Deferred Processes</h3>
        	<div id="deferreds_container"></div>
		</div>{%endif%}
            
           
        </div> <!-- tab10 -->
</div> <!-- /tabbable -->
{{ content }}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block extrajs %}{{block.super}}
<script src="{{ STATIC_URL }}common/js/load_tester.js"></script>
<script>
function load_logs(page){
    $.get(
        '{% url "dashboard_logs" %}',
        {page: page},
        function(data, textStatus, jqXHR) {
            $('#logs_container').html(data)
        },
        'html'
    )
}
$(document).ready(function(){
   $('a[href="#tab7"]').on('show.bs.tab', function(event){
        load_logs(1)
       })
});
{% if 'accountifie.tasks' in settings.INSTALLED_APPS %}

var load_deferreds_timeout=false;

function load_deferreds(){
  if($('#tab12').hasClass('active')){
  	$.get(
			'{% url "dashboard_deferreds" %}',
			function(data, textStatus, jqXHR) {
  			$('#deferreds_container').html(data);
			},
			'html'
		)
		load_deferreds_timeout=window.setTimeout('load_deferreds()',10000);
		}
	}


$(document).ready(function(){

   $('a[href="#tab12"]').on('shown.bs.tab', function(event){
        load_deferreds();
       });

	$(document).on('click','.kill-task', function(e){
		var _that = $(this);
		var tid = _that.data('task');
		$.get(
			'{# url "task_kill_js" #}/tasks/kill/'+tid+'/',
			function(data, textStatus, jqXHR){
				window.clearTimeout(load_deferreds_timeout);
				if (typeof console !== "undefined")
					console.log(data);
				load_deferreds();
				},
			'html'
			)
		});
});
</script>
{% endif %}
{% endblock %}
