{% extends base_template %}


{% block extrahead %} 
<style>

dl.plain, table {margin: 1em}

dl.plain dt {
    float:left; 
    width:15%; 
}
</style>
{{block.super}}
{% endblock %}

{% block breadcrumbs %}<li><a href="..">Home</a></li><li>Dashboard</li>{% endblock %}
{% block content %}
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">ERROR</a></li>
    <li><a href="#tab2" data-toggle="tab">INFO</a></li>
    <li><a href="#tab3" data-toggle="tab">DEBUG</a></li>
  </ul>

  
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div id="error_logs_container"></div>
    </div>
    <div class="tab-pane active" id="tab2">
      <div id="info_logs_container"></div>
    </div>
    <div class="tab-pane active" id="tab3">
      <div id="debug_logs_container"></div>
    </div>
  </div>
</div>
{{ content }}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block extrajs %}{{block.super}}
<script src="{{ STATIC_URL }}common/js/load_tester.js"></script>
<script>
  function load_errors(page){  
      $.get(
          '{% url "dashboard_logs" %}',
          {page: page, level: 'ERROR'},
          function(data, textStatus, jqXHR) {
              $('#error_logs_container').html(data)
          },
          'html'
      )
  };

  function load_infos(page){  
      $.get(
          '{% url "dashboard_logs" %}',
          {page: page, level: 'INFO'},
          function(data, textStatus, jqXHR) {
              $('#info_logs_container').html(data)
          },
          'html'
      )
  };

  function load_debugs(page){  
      $.get(
          '{% url "dashboard_logs" %}',
          {page: page, level: 'DEBUG'},
          function(data, textStatus, jqXHR) {
              $('#debug_logs_container').html(data)
          },
          'html'
      )
  };

  $(document).ready(function(){
     load_errors(1);
     load_infos(1);
     load_debugs(1);
  });
</script>
{% endblock %}
