{% extends base_template %}
{% load staticfiles common  %}

{% block title %}Statistics{% endblock %}
{% block breadcrumbs %}<li><a href="..">Home</a></li><li>Dashboard</li>{% endblock %}
{% block content %}
<h2>{{stat_name}}</h2>
<p>{{help_text}}</p>

<table class="table">
    <thead>
        <tr>
            {% for colname in colnames %}<th>{{ colname }}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr> {% for cell in row %}
                <td> {{ cell }}</td>{% endfor %}
            </tr>{% endfor %}
    </tbody>
</table>



{% endblock %}
