{% extends "admin/change_list.html" %}
{% block object-tools %}
<p>Use this page to process incoming expenses.  Each of them should be flagged with the correct "paid from" account, after which the general ledger will look broadly correct. In addition, if the system doesn't match it for you, choose the right vendor in the 'matched' column so we have a real link to a vendor and not just some text from Certify.</p>
<p>If ever we geet a non-Certify expense, it can be added here with a different ID range</p>
{% endblock %}