<table class="table table-striped table-condensed">
{%if dtasks%}
	{%for dtask in dtasks%}
		{%if forloop.first%}
	<tr><th>PID</th><th>Task</th><th>Args</th><th>Kwds</th><th>Start</th><th>Finish</th><th>Runtime</th><th>Progress</th><th>Status</th><th>Finish</th><th>Success</th><th>User</th></tr>
    {%endif%}
	<tr>
		<td><a href="{% url 'admin:tasks_deferredtask_change' dtask.id %}">{{dtask.pid}}</a></td>
		<td>{{dtask.task}}</td><td>{{dtask.args}}</td>
		<td>{{dtask.kwds}}</td><td>{{dtask.start|date:"Ymd His"}}</td>
		<td>{{dtask.finish|date:"Ymd His"}}</td>
		<td>{{dtask.runtime}}</td>
		<td>{{dtask.progress}}</td>
		<td>{{ dtask.progress_message|default:dtask.status}}</td>
		<td align="center ">{%if not dtask.finished %}
			<div class="input-group">
				<span class="input-group-addon btn-danger disabled active"><span class="glyphicon glyphicon-remove"></span></span>
				<input type="button" class="btn btn-danger form-control kill-task" value="kill" data-task="{{dtask.id}}">
			</div>
			{% else %}
			<span class="label label-success"><span class="glyphicon glyphicon-ok"></span><span>
			{% endif %}</td>
		<td><span class="label label-{% if dtask.success %}success{% else %}danger{% endif%}">
				<span class="glyphicon glyphicon-{% if dtask.success %}ok{% else %}remove{% endif%}"></span>
		</span></td>
		<td>{{dtask.username}}</td></tr>
	{%endfor%}
{%else%}
	<p>There are no recent or unfinished tasks.</p>
{%endif%}
</table>
