
<div class="panel panel-{{ panel_type|default:"default" }}">
	<div class="panel-heading" role="tab" id="heading{{ title|slugify }}">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ title|slugify }}" aria-expanded="true" aria-controls="collapse{{ title|slugify }}">
			Output</a>
		</h4>
	</div>
	<div id="collapse{{ title| slugify }}" class="panel-collapse collapse{% if show %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ title| slugify }}">
		<pre class="panel-body">
{% for line in content_list %}
	{% if line %}{{ line }}{% endif %}
{% endfor %}
		</pre>
	</div>
</div>
