{% extends base_site_template %}

{% block title %}Task {{object.title}} finished {% endblock %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li class="active">Task Complete</li>
{% endblock %}


{% block content %}

	{% if not object.success %}
<div class="alert alert-danger">
	Task did not complete successfuly. Please check the Deferred Tasks tab in the <a href="{% url 'dashboard_index' %}">Dashboard</a>
</div>
	{% else%}
<div class="alert alert-success">
	Task complete
</div>
	{% endif %}

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{% if object.stdout %}
		{% include 'tasks/include_panel.html' with title="Output" content_list=object.stdout_as_list %}
	{% endif %}

	{% if object.stderr %}
		{% include 'tasks/include_panel.html' with title="Errors" content_list=object.stderr_as_list panel_type="danger" show=True %}
	{% endif %}
	</div>

	{% if results %}
<ul class="list-group .col-md-4">
		{% if results.found %}
    <li class="list-group-item">
		<span class="badge">{{results.found}}</span>
		Objects considered 
    </li>
		{% endif %}

		{% if results.data %}
	<li class="list-group-item">
		<span class="badge">{{results.data|length}}</span>
		Objects processed 
	</li>
		{% endif %}

		{% if results.dups %}
	<li class="list-group-item">
		<span class="badge">{{results.dups|length}}</span>
		Duplicates found and prevented from being saved
	</li>
		{% endif %}

		{% if results.key_errors %}
	<li class="list-group-item">
		<span class="badge">{{results.key_errors|length}}</span>
		Unexpected columns in data: {% for k in results.key_errors %} {{k}}, {% endfor %}
	</li>
		{% endif %}

		{% if results.value_errors %}
	<li class="list-group-item">
		<span class="badge">{{results.value_errors|length}}</span>
		<h4 class="list-group-item-heading">Individual cell data errors</h4>

		<table class="table">
			<thead>
				<tr>
					<th>Error Type</th>   <th>Error message</th>        <th>Row number</th>
				</tr>
			</thead>
			<tbody>
			{% for k, v, m in results.value_errors %}
				<tr>
					<th>{{k}}</th>      <th>{{m}}</th>        <th>{{v}}</th> 
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</li>
		{% endif %}  
</ul>

		{% if results.example %}
<ul class="list-group">
	<h4 class="list-group-item-heading">Example data row</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Key</th>      <th>Value</th>
			</tr>
		</thead>
		<tbody>
			{% for k, v in results.example.items %}
			<tr>
				<th>{{k}}</th> 		<th>{{v}}</th> 
			</tr>
			{% endfor %}
		</tbody>
	</table>
</ul>
		{% endif %}

{% endif %}

	{% if object.success_url %}
	<a class="btn btn-default" href="{{ object.success_url }}">Proceed</a>
	{% else %}
	<a href='/' class="btn btn-default">home</a>
	{% endif %}

{% endblock %}
