{% extends base_template %}


{% block breadcrumb %}
<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav pull-left">
    <li><a href="/audit/tasks/">Home</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><a href="/audit/records">Audit Records</a></li>
    <li><a href="/audit/tasks">Tasks</a></li>
    <li><a href="/audit/taskdefs">Task Definitions</a></li>
  </ul>
</div>

{% endblock %}

{% block content %}

  

{% endblock %}

{% block extrajs %}
{% endblock %}
