{% extends 'base/base_expense.html' %}

{% block extrahead %}
  {{ block.super }}
  {{ comment_form.media.css }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
  <h3 class="pull-right">{{status}}</h3>
  <h2>Expense Detail for {{desc}}</h2>

  
  
  <div class="accordion" id="accordion2">

    <div class="accordion-group">
      <div class="accordion-heading">
        <h3><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero">
          Transactions</h3>
        </a>
      </div>
      <div id="collapseZero" class="accordion-body collapse">
        <h4>GL Transactions</h4>
        <div class="accordion-inner">
          {% include "splashform.html" with form_type="exp_form" form=exp_form col_titles=exp_titles queryset=exp_queryset flds=exp_flds %}
        </div>

        <h4>Nominal Transactions</h4>
        <div class="accordion-inner">
          {% include "splashform.html" with form_type="nom_form" form=nom_form col_titles=nom_titles queryset=nom_queryset flds=nom_flds %}
        </div>

      </div>
    </div>

    
    <div class="accordion-group">
      <div class="accordion-heading">
        <h3><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Transaction Lines</h3>
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          {% include "splashform.html" with form_type="lines_form" form=lines_form col_titles=lines_titles queryset=lines_queryset flds=lines_flds %}
        </div>
        <div class="accordion-inner">
          {% include "splashform.html" with form_type="nomlines_form" form=nomlines_form col_titles=nomlines_titles queryset=nomlines_queryset flds=nomlines_flds %}
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <h3><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseBalHist">
          Balances History</h3>
        </a>
      </div>
      <div id="collapseBalHist" class="accordion-body collapse">
        <div class="accordion-inner">
          {% include "splashdf.html" with rows=bal_history_rows columns=bal_history_cols %}
        </div>
      </div>
    </div>
    
  </div>

  
{% endblock %}

  
{% block sidebar %}
<div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/base/add/nominal/{{expense_id}}?date={{expense_date}}" class="btn btn-primary" type="submit" name="add_nominal">Add Nominal</a></
    </ul>
</div>

</br>
{{block.super}}

{% endblock %}
{% block extrajs %}
{{block.super}}
{{comment_form.media.js}}

{% endblock %}
