{% extends base_template %}


{% block content %}

    {% if queryset.paginator.num_pages %}
    <div class="pull-right">
        Page {{queryset.number}} of {{queryset.paginator.num_pages}}
    </div>
    {% endif %}

    {% include "splashform.html" with form_type="expenselist_form" form=form col_titles=col_titles queryset=queryset flds=flds %}
  
    {% if queryset.paginator.num_pages %}
    <ul class="pagination" name="pagination">
        {% if queryset.has_previous %}
      <li><a href="#pagination" data-page="{{queryset.previous_page_number}}">&laquo;</a></li>
        {% else%}
      <li class="disabled"><a>&laquo;</a></li>
        {% endif %}
        {% for pg in queryset.paginator.page_range %}
                {% if not pg = queryset.number %}
      <li><a href="#pagination" data-page="{{pg}}">{{pg}}</a></li>
                {% else %}
      <li class="active"><a href="#">{{pg}}</a></li>
                {% endif %}
        {% endfor %}
        {% if queryset.has_next %}
      <li><a href="#pagination" data-page="{{queryset.next_page_number}}">&raquo;</a></li>
        {% else%}
      <li class="disabled"><a>&raquo;</a></li>
        {% endif %}
    {% endif %}
    </ul>
    <script>
        function load_page(page){
            $.get(
                '/base{% url "expenses_index" %}#main',
                {page: page},
                function(data, textStatus, jqXHR) {
                    $('#main').html(data)
                },
                'html'
            )
        }



        $('.pagination li a').click(function(event){
            load_page($(this).data('page'))
            });
    </script>



{% endblock %}

{% block extrajs %}
{% endblock %}


