{% extends base_template %}
{% load staticfiles %}

{% block extrahead %}
    <style>
        #wrapper {
            border: 1px #e4e4e4 solid; background-color: #fafafa;
        }
        .spacer { margin:0; padding:0; height:50px; }
    </style>
{% endblock %}


{% block breadcrumb %}
<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav pull-left">
    <li><a href="/forecasts">Home</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><a href="/forecasts/reports_center">Reports Center</a></li>
  </ul>
</div>

{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
  
    {{content}}
  

{% endblock %}

{% block sidebar %}
<a class="btn btn-primary" href="/forecasts/forecast/add" role="button">Add Forecast</a>


{% endblock %}

{% block extrajs %}
    {{block.super}}
    <script src="{{ STATIC_URL }}base/js/jquery.align-column.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table-filter-control.js"></script>

{% endblock %}
