{% extends 'forecasts/base_forecasts.html' %}



{% block content %}
    <h2>Projections</h2>

    <div class="container">
        <table id="table"
            data-toolbar="#toolbar"
            data-row-style="rowStyle"
            data-search="true"
            data-toggle="table"
            data-url="{{ data_url }}"
            data-show-pagination-switch="true"
            data-pagination="true"
            data-page-size="25"
            data-page-list="[25, 50, 100, ALL]"

            data-show-export="true"
            >
            <thead>
                <tr>
                    {% for col in cols %}
                      <th data-field="{{col.0}}" data-sortable="true" data-formatter={{col.1}} data-cell-style="cellStyle">{{col.0}} </th>
                    {% endfor %}
                    
                </tr>
            </thead>
        </table>
    </div>

{% endblock %}

{% block extrajs %}

  {{block.super}}

  <script src="{{ STATIC_URL }}base/js/jquery.align-column.js"></script>
  <script src="{{ STATIC_URL }}base/js/bootstrap-table.js"></script>
  <script src="{{ STATIC_URL }}base/js/bootstrap-table-filter-control.js"></script>
  <script src="{{ STATIC_URL }}base/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}base/js/bootstrap-table-editable.js"></script>
  <script src="{{ STATIC_URL }}base/js/bootstrap-editable.js"></script>
  <script src="{{ STATIC_URL }}base/js/tableExport.js"></script>
  <script src="{{ STATIC_URL }}base/js/bootstrap-table-export.js"></script>
  
  

  
  <script>
  var $table = $('#table');

    $(function () {
    });

      
    function cellStyle(value, row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];
        if ( row.fmt_tag == "major_total") {
            return {
                css: {
                    "background-color": "WhiteSmoke",
                    "border": "3px black",
                    "font-size": "125%",
                    "font-color": "black",
                    "font": "bold"
                }
            };
        }
        return {};
    }; 

      function nameFormatter(value, row) {
            var icon = row.id % 2 === 0 ? 'glyphicon-star' : 'glyphicon-star-empty'
            return '<i class="glyphicon ' + icon + '"></i> ' + value;
        }

    function valueFormatter(value, row) {
        if (value == 0) {
            return '-';
        } else {
          return Number(Math.round(value)).toLocaleString('us')
        }
    }

  </script>
{% endblock %}