{% extends base_template %}

{% block title %}Forecast detail{% endblock %}

{% block extrahead %}
	{{ block.super }}
	{{ form.media.css }}
	<style>
		.handsontable {max-width:100%; overflow-x: scroll} 
		label[for$="entries"] + .col-sm-10 {
			clear:left;
			width: 100%;
		}
	{% if company_color %}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		background-color: {{ company_color }} } 
	{% endif %}
	</style>
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="/forecasts/">Forecasts</a></li>
<li class="active">{{ f.name }}</li>
{% endblock %}

{% block content %}
	
<div class="row">
    <div class="col-md-8">
		<h2>{{ f.id }} - {{ f.label }}</h2>
		{% if form.non_field_errors %}
		<ul class="errors">
		    {% for error in form.non_field_errors %}
		    <li>{{error}}</li>
		    {% endfor %}
		</ul>
		{% endif %}
		<form role="form" class="form-horizontal">
			{{ form.as_div }}
		</form>
	</div>

	<div class="col-md-4">

		<div class="row">
			<h3>Projections</h3>
			<ul class="nav nav-pills nav-stacked">
				<li>
					<form class="form" method="get" action="{% url 'upload_gl' %}">
						{% csrf_token %}
						<input type="hidden" name="forecast" value="{{f.id}}">
						<button type="submit" class="btn btn-info">Load Hard-Coded Projections</button>
					</form>
				</li>
				<li>
					<form class="form" method="get" action="{% url 'hardcode_projections' %}">
						{% csrf_token %}
						<input type="hidden" name="fcast_id" value="{{f.id}}">
						<button type="submit" class="btn btn-info">View Hard-Coded Projections</button>
					</form>
				</li>
				<li>
					<form class="form" method="get" action="{% url 'full_projections' %}">
						{% csrf_token %}
						<input type="hidden" name="fcast_id" value="{{f.id}}">
						<button type="submit" class="btn btn-info">View Full Projections</button>
					</form>
				</li>
			</ul>

		</div>
		<div class="row">
			<h3>Get Historical/Projected Financials for 2015--2016</h3>
			<ul class="nav nav-pills nav-stacked">

				<li>
					<a href="/forecasts/reports/{{f.id}}/IncBalanceSheet/?col_tag=6yr_2014-12-31" class="btn btn-success">Balance Sheet</a>
				</li>
				<li>
					<a href="/forecasts/reports/{{f.id}}/IncomeStatement/?col_tag=6yr_2015-1-1" class="btn btn-success">Income Statement</a>
				</li>
				<li>
					<a href="/forecasts/reports/{{f.id}}/Cashflow/?col_tag=6yr_2015-1-1" class="btn btn-success">Cashflow Statement</a>
				</li>
				<li>
					<a href="/forecasts/run?forecast={{f.id}}&col_tag=6yr_2015-1-1" class="btn btn-success">CSV Full Report Pack</a>
				</li>
			</ul>
		</div>

	</div>



	
</div>

	

{% endblock %}


{% block sidebar %}


{% endblock %}



{% block extrajs %}
	{{ form.media.js }}
{% endblock %}
